
:root{
    font-family: 'Poppins', sans-serif ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



/* ========== DESKTOP ========== */

@media screen and (min-width: 993px){




/* Color de fondo de la pagina web */
body{
    background-color: #F5EDE3;
}
/* Estilo de la lista (Barra de navegación) */
.listaNav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    padding-top: 5px;
    
    /* border: 2px solid; */
}

.listaNav li a{
    color: black;
    text-decoration: none;
}

.gridContainTituloHistoria{
    margin-top: 100px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100% 0%;
    grid-template-areas: 
    'QuienesSoMos texto'
    'QuienesSoMos texto';
}

.QuienesSoMos{
    padding-left: 40px;
    grid-area: QuienesSoMos;
    height: 500px;
    display: flex;
    align-items: center;
}

.QuienesSoMos h1{
    font-size: 150px;
    color: #ff7e00;
}

.QuienesSoMos h2{
    font-size: 50px;
}

.imagenFoo{
    grid-area: imagenFoo;
}

.imagenFoo img{
    width: 100%;
    height: 100%;
}

.texTo{
    grid-area:texto;
    
    display: flex;
    align-items: center ;
}

.texTo p{
    padding: 0px 40px 0px 40px;
}

.buscadorPlaceh{
    padding: 5px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 5px;
}

.colorPalabraHomeIndex{
    color: #ff7e00;
    text-decoration: underline;
}
.colorPalabraContacto{
    color: #ff7e00;
    text-decoration: underline;
}

/* Aca esta el encabezado 'Nuestro equipo Fast esta para ayudarte' de la seccion contacto */

.encabezadoContacto{
    display: flex;
    justify-content: center;
    text-align: center;
    /* border: 2px solid; */
    font-size: 40px;
    margin: 20px 0px 20px 0px;
}
/* Color del encabezado palabra 'Fast' */
.encabezadoContacto span{
    color: #ff7e00;
}

.contactano-s{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80vh;
}

.contactanoS{
    width: 60%;
    height: 80%;
    padding: 50px 50px 50px 50px;
    background-color: rgba(255, 195, 136, 0.85);
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 70px;
}

.fondo{
    background-image: url(assets/imgFooBlur15.png);
    background-size:120vh;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* .imagenFooContacto{
    border: 2px solid;
    display: flex;
    justify-content: center;
}

.imagenFooContacto img{
    width: 50%;
} */

.contenedorAbuelo{
    display: flex;
    margin-top: 2%;
}

.contenedorImgFoo{
    width: 50%;
}



.imgFoo{
    width: 85%;
}

.contenedorPadre{
    margin-left: 10%;
    padding-top: 5%;
    /* border: 2px solid; */
    width: 50%;
}

.contenedorTitulo{
    display: flex;
    align-items: center;
    /* border: 2px solid; */
    width: 40%;
    border: 2px solid;
    width: 100%;
    height: 30vh;
}



.contenedorTitulo h1{
    width: 100%;
    color: #ff7e00;
    border: 2px solid lightblue;
    height: 100%;
    font-size: 800%;

}

.contenedorTitulo h2{
    width: 100%;
    height: 100%;
    font-size: 500%;
    align-items: center;
    border: 2px solid blue;
}

.parrafoTentate{
    font-size: 20px;
    padding-bottom: 30px;
}


.colorFast{
    color: #ff7e00;
}



/* .contenedorAbuelo{
    width: 50%;
    display: inline;
    border: 2px solid aqua;
}

.contenedorPadreIzquierda{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.contenedorPadreDerecha{
    width: 50%;
    display: inline;
    border: 2px solid;
} 

.colorPalabraHomeIndex{
    color: #FF7E00;
}

/* Le saco el susbrayado a el Nav */
/* a{
    text-decoration: none;
}

.tituloFastFoodDelivery{
    display: flex;
    border: 2px solid;
    align-items: center;
}

/* Cambiamos la fuente de los parrafos */
.parrTentate{
    font-family: 'Poppins', sans-serif;

} 
/* detalle en una palabra del parrafo, "Fast" va en color naranja*/
/* div span{
    color: #FF7E00;
} */

/* .tituloFast{
    font-size: 125px;
    font-family: 'Poppins', sans-serif;
    color: #FF7E00;  
    margin: 0px;
    padding: 0px;
}

.subtituloFoodD{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgba(47, 47, 47, 1);
    font-family: 'Poppins', sans-serif;
}  */
/* From uiverse.io */

 /* Estilo y transicion de boton  */

    /* From uiverse.io by @BHARGAVPATEL1244 */
button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: #ff7e00;
    color: ghostwhite;
}

button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
}

button:hover span {
    color: black;
}

button::before,
button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

button::before {
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

button:hover::before {
    transform: translate3d(100%, 0, 0);
}


/* Estilos para las tablas */
/* .tablaDePedido{
width: 100%;
border: 2px solid black;
border-collapse: collapse;
} */
/* Estilos para las tablas */
/* th{
border: solid 1px black;
font-family: 'Poppins', sans-serif;
background-color: #FF7E00;
color: #F5EDE3; */

/* } */
/* Estilos para las tablas */
/* td{
border: solid 1px black;
font-family: 'Poppins', sans-serif;
text-align: center;
} */

.footerRedes{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 20%;
    /* border: 2px solid; */
}

.footerContacto{
    width: 80%;
    height: 10vh;
}

.footerContacto a{
    margin: 20px 50px 20px 50px;
}

.footerContacto a img{
    border-radius: 8px;
}

.contFooter{
    display: flex;
    justify-content: center;
}

.footerhistoria{
    margin-top: 275px;
}

}





/* ACA ESTAN LOS MEDIA QUERY */


/* BREAKPOINT ========== TABLET */
@media screen and (max-width: 992px) and (min-width: 577px){
    
    .listaNav{
        width: 100%;
        font-size: 90%;
    }

    .contenedorAbuelo{
        height: 80vh;
        padding-top: 45px;
    }
    
    .contenedorTitulo h1 {
        font-size: 100px;
    }

    .contenedorTitulo h2 {
        font-size: 30px;
    }

    .contenedorPadre {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5%;
    }

    .imgFoo {
        width: 85%;
    }

    .parrafoTentate{
        font-size: 13px;
        padding-bottom: 15px;
    }

    .btn{
        font-size: 80%;
    }

    .contenedorImgFoo{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        
    }

    .footerRedes{
        width: 40%;
    }
}


/* MOBILE */
@media screen and (max-width: 576px){

    .listaNav{
        font-size: 10%;
    }

    .listaNav input {
        font-size: 20%;
    }

    .imgFoo{
        width: 0%;
    }

    .contenedorImgFoo{
        width: 0%;
    }

    .contenedorAbuelo{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        height: 80vh;
        
    }

    .contenedorPadre{
        width: 100%;
        display: flex;
        align-items:center ;
    }

    .contenedorTitulo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footerRedes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    }

    .parrafoTentate{
        margin-top: 10px;
    }

    .btn{
        margin-top: 40px;
    }
        
}

























/* PSCEUDOCLASES

:ROOT (modificaciones de el elemento raiz "html", se hacen modificaciones como el font family, tamaño de tipografía, etc son mas modifiaciones especificas. Despues se usa el * para modificaciones predeterminadas que vienen con el html... padding, margin, box-sizing.)

FIRST-CHILD (modifica todos los primeros elementos de un div)

Ej: <div>
        <p> Primer párrafo </p>
        <p> Segundo párrafo </p>
    </div>
    
    Acá, unicamente el primer parrafo se modificaría

    LAST-CHILD (Modifica todos los ultimos elementos de un div)

Ej: El mismo caso que el anterior pero al reves (se modifican los ultimos elementos)

LAST OF TYPE (De los helementos hermanos, modifica el ultimo de su tipo)

=============================================

ACTIVE (Mantiene el color solo cuando hacemos click en el enlace "a")


*/